{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;800&display=swap');

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: .2s linear; 
}

.about .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap:1.5rem;
    align-items: flex-start;
    justify-content: center;
 }
 
 .about .box-container .box{
    background-color: var(--white);
    border-radius: .5rem;
    padding:2rem;
    text-align: center;
    box-shadow: var(--box-shadow);
 }
 
 .about .box-container .box img{
    width: 100%;
    margin-bottom: 2rem;
 }
 
 .about .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
 }
 
 .about .box-container .box p{
    padding:1rem 0;
    line-height: 2;
    font-size: 1.6rem;
    color:var(--light-color);
 }
 .btn {
    display: block;
    width: 100%;
    margin-top: 1rem;
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 2rem;
    color: var(--white);
    background-color: var(--red);
    cursor: pointer;
    text-transform: capitalize;
    text-align: center;
}
.btn:hover{
    letter-spacing: .2rem;
}
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}
section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
:root {
   --blue: #9abec1;
    --red: #e74c3c;
    --black: #333;
    --white: #fff;
    --light-bg: #f5f5f5;
    --light-color: #666;
    --border: .1rem solid var(--light-color);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  position: absolute;
  width: 80%;
  top: 0;
  z-index: 2;
}
.logo {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}
.logo .dot {
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0.2rem;
  background: var(--black);
  border-radius: 50%;
}
.nav-links {
  display: flex;
}
.nav-links a {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}
a:hover {
  color: var(--blue);
}
.nav-links a::after {
  content: "";
  display: block;
  height: 3px;
  background: var(--blue);
  width: 0%;
  transition: all ease-in-out 300ms;
}
.nav-links a:hover::after {
  width: 100%;
}
.nav-links a:last-child {
  margin-right: 0rem;
}
.nav-links .active {
  color: var(--blue);
}


/* Hero */
.hero {
  
  padding: 5rem 10% 0rem 10%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
}
.hero-bg {
  background: var(--black);
  width: 70rem;
  height: 57rem;
  border-radius: 20rem;
  transform: rotate(-45deg);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  z-index: 0;
  right: -15.3rem;
  top: -10rem;
}
.hero-bg img {
  transform: rotate(45deg);
  height: 59rem;
  margin-left: 7rem;
  margin-bottom: 0rem;
}
.hero .intro {
  position: absolute;
  margin-bottom: 7rem;
  z-index: 1;
}
.hero .intro h1 {
  font-size: 70px;
}
.hero .intro h2 {
  margin: 1rem 0;
  font-size: 35px;
} 

.hero .intro button {
  background: var(--red);
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.7rem 1rem;
  border-radius: 3px;
  box-shadow: 10px 10px 24px -1px rgba(123, 123, 123, 0.75);
}
.scroll {
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
  z-index: 2;
}
.scroll a {
  color: var(--black);
  text-decoration: none;
  display: flex;
  align-items: center;
}
.scroll a:hover {
  color: var(--black);
}
.scroll .svg {
  margin-right: 0.5rem;
}
#check, .menu {
    display: none;
}


.faq .accordion-container{
   max-width: 70rem;
   margin:0 auto;
}

.faq .accordion-container .accordion{
   margin:1.5rem 0;
   box-shadow: var(--box-shadow);
}

.faq .accordion-container .accordion .accordion-heading{
   padding:1.5rem;
   background: var(--black);
   color:var(--white);
   cursor: pointer;
   font-size: 2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap:1.5rem;
}

.faq .accordion-container .accordion .accrodion-content{
   padding:2rem;
   background-color: var(--white);
   line-height: 2;
   color:var(--light-color);
   font-size: 1.6rem;
   display: none;
}

.faq .accordion-container .accordion.active .accrodion-content{
   display: inline-block;
}

.faq .accordion-container .accordion.active .accordion-heading{
   background: var(--red);
}

.faq .accordion-container .accordion.active .accordion-heading i{
   transform: rotate(180deg);
}
.heading {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 4rem;
    color: var(--black);
    text-transform: uppercase;
}
.location{
     text-decoration: none;
     color: #fff;
 }
 a:hover{
     text-decoration: none;
 }
</style>
<section class="hero">
  <div class="intro">
    <div>
      <h1>Our Coffee Is</h1>
      <h2>VIGOROUS</h2>
    </div>
    <div>
      <button> <a class="location" href="https://www.google.kz/maps/place/Daily+Coffee/@43.2428754,76.9302436,14.61z/data=!4m9!1m2!2m1!1zY29mZmVlINGA0Y_QtNC-0Lwg0YEg0JDQu9C80LDRgtGL!3m5!1s0x38836ee839a7c0bb:0x68145d51584439ec!8m2!3d43.2429026!4d76.9424774!15sCiFjb2ZmZWUg0YDRj9C00L7QvCDRgSDQkNC70LzQsNGC0YtaIyIhY29mZmVlINGA0Y_QtNC-0Lwg0YEg0LDQu9C80LDRgtGLkgELY29mZmVlX3Nob3CaASRDaGREU1VoTk1HOW5TMFZKUTBGblNVTlJkR1ZtUW5SQlJSQUI?hl=ru"> 
        See Nearest Location </a></button>
    </div>
  </div>
  <div class="hero-bg">
    <img src="{% static  'images/cup_of_coffee.png' %}" alt="cup of coffee" />
  </div>
</section>






<section class="about" id="about">


  <div class="box-container">

     <div class="box">
        <img src="{% static 'images/about-1.svg'%}" alt="">
        <h3>made with love</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum quae amet beatae magni numquam facere sit. Tempora vel laboriosam repudiandae!</p>
        <a href="{% url 'shops:shop' %}" class="btn">our menu</a>
     </div>

     <div class="box">
        <img src="{% static 'images/about-2.svg'%}" alt="">
        <h3>30 minutes delivery</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum quae amet beatae magni numquam facere sit. Tempora vel laboriosam repudiandae!</p>
        <a href="{% url 'shops:shop' %}"class="btn">our menu</a>
     </div>

     <div class="box">
        <img src="{% static 'images/about-3.svg'%}" alt="">
        <h3>share with freinds</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum quae amet beatae magni numquam facere sit. Tempora vel laboriosam repudiandae!</p>
        <a href="{% url 'shops:shop' %}" class="btn">our menu</a>
     </div>

  </div>

</section>

<!-- about section ends -->
<div>
  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'images/forb1.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
        <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Centered screenshot</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="{% static 'images/forb2.png' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>
  
<!-- faq section starts  -->
<section class="faq" id="faq">

  <h1 class="heading">FAQ</h1>

  <div class="accordion-container">

     <div class="accordion active">
        <div class="accordion-heading">
           <span>how does it work?</span>
           <i class="fas fa-angle-down"></i>
        </div>
        <p class="accrodion-content">
           You come into our coffee shop, order delicious coffee, wait up to 30 minutes, enjoy the best coffee in the city in the company of your loved ones!
        </p>
     </div>

     <div class="accordion">
        <div class="accordion-heading">
           <span>how long does it take for delivery?</span>
           <i class="fas fa-angle-down"></i>
        </div>
        <p class="accrodion-content">
           We are brewing our coffee about five minutes, delivering is maximum 30 minutes,  we promise you!
        </p>
     </div>

     <div class="accordion">
        <div class="accordion-heading">
           <span>can I order for huge parties?</span>
           <i class="fas fa-angle-down"></i>
        </div>
        <p class="accrodion-content">
           Yes, of course ! You can order at least 100 coffees from us, we are only glad to receive your orders!
        </p>
     </div>

     <div class="accordion">
        <div class="accordion-heading">
           <span>how healthy are our drinks?</span>
           <i class="fas fa-angle-down"></i>
        </div>
        <p class="accrodion-content">
            We choose only the choicest grains of our coffee, they are brought straight from Brazil, recharge for the whole day with our drinks!
        </p>
     </div>


     <div class="accordion">
        <div class="accordion-heading">
           <span>is it harmful to drink coffee?</span>
           <i class="fas fa-angle-down"></i>
        </div>
        <p class="accrodion-content">
         It's all a myth! Coffee is only needed to charge energy for the whole day and enjoy it every day!
        </p>
     </div>

  </div>

</section>
<!-- faq section ends -->
</div>
<script>
  let accordion = document.querySelectorAll('.faq .accordion-container .accordion');

accordion.forEach(acco =>{
   acco.onclick = () =>{
      accordion.forEach(remove => remove.classList.remove('active'));
      acco.classList.add('active');
   }
});
</script>
{% endblock %}