{% extends 'base.html' %}

{% block content %}

<style>
  #content{
    margin-top: 15px;
    background-color: lavenderblush;
  }
  a{
    text-decoration: none;
    width: 90%;
  }
  a:hover {
    color:lavenderblush;
    text-decoration: none;
  }
  .media-content p::after {
    content: "";
    display: block;
    height: 2px;
    background: black ;
    width: 0%;
    transition: all ease-in-out 300ms;
  }
  .media-content p:hover::after {
    width: 13%;
  }
  .media-content p:last-child {
    margin-right: 0;
  }
  .block{
    margin-top: 2%;
    margin-left:25%;
    margin-bottom: 200px;
    width: 50%;
  }
  .column{
    margin-top: 50px;
  }

</style>

<div class="column">

{% for profile in profiles %}

    <div class="block">
      <div class="card">
        <a href="{% url 'sending:profile' profile.id %}">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://www.kindpng.com/picc/m/49-497795_convo-user-icon-hd-png-download.png"
                       alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">
                  {{ profile.user.username }}
                </p>
                <p class="subtitle is-6">
                  @{{ profile.user.username|lower }}
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
{% endfor %}

    </div>

{% endblock content %}




